{% extends 'layout.twig' %}

{% block body %}

<div class="container">
{% if isNull %}
    <h1 style="margin: 20px;">The product you're looking for doesn't exist anymore. Sorry!</h1>
{% else %}

    {% if has_errors() %}
        <div class="alert alert-warning">
            {% for paramErrors in errors() %}
                {% for error in paramErrors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

    <div class="row" id="productMain">
        <div class="col-md-7 offset-md-1">
            <div id="mainImage">
                <img src="{{ asset( img.0 ) }}" alt="" class="img-dimension">
            </div>
        </div>

        <div class="col-md-5 offset-md-1">
            <div class="box">
                <h1 class="text-center">{{ title }}</h1>
                <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details, material & care and sizing</a>
                </p>
                <p class="price">{{ price }}€</p>

                {% if logged %}
                    <form class="text-center" method="post">
                        <input type="text" placeholder="YYYY/mm/dd" name="date">
                        {{ csrf() }}
                        <input type="submit" class="btn btn-success" value="Rent this product"> 
                    </form>
                {% else %}
                    <p class="text-center buttons">
                        <a href="/login" class="btn btn-danger">You have to login to rent</a>
                    </p>
                {% endif %}
            </div>

            {% if img %}
                <div class="row" id="thumbs">
                    {% for i in img %}
                        <div class="col-xs-4">
                            <a href="{{ asset(i) }}" class="thumb">
                                <img src="{{ asset(i) }}" alt="" class="img-responsive">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            </div>
        </div>

        <!-- détails d'un produit -->
        <div class="box" id="details">
            <h4>Description</h4>
            <blockquote>
                <p><em>{{ desc }}</em>
                </p>
            </blockquote>

            <h4>Material</h4>
            <ul>
                <li>{{ material }}</li>
            </ul>
                    
            <h4>Color</h4>
            <ul>
                <li>{{ color }}</li>
            </ul>
                    
            <h4>Size</h4>
            <ul>
                <li>{{ size }}</li>
            </ul>

            <h4>Waterproof</h4>
            <ul>
                <li>{{ waterproof }}</li>
            </ul>
        </div>
{% endif %}
</div>
{% endblock %}
