<p>Username : {{ auth.user.username }} </p>
<p>Email : {{ auth.user.email }} </p>
<p>First name : {{ auth.user.first_name }} </p>
<p>Last name : {{ auth.user.last_name }} </p>
<p>Birthdate : {{ auth.user.birthdate }} </p>
<p>City : {{ auth.user.city }} </p>
<p>Country : {{ auth.user.country }} </p>