<div class="panel panel-default sidebar-menu">
    <div class="panel-heading">
        <h3 class="panel-title">Filters<a class="btn btn-xs btn-danger pull-right" href="#"><i
                        class="fa fa-times-circle"></i> Clear</a></h3>
    </div>
    <div class="panel-body">
        <form method="post" action="gallery">
            <div class="form-group">
                <h5>Sizes</h5>
                <div class="form-group">
                    <label for="minSize"> From </label>
                    <input type="number" id="minSize" name="minSize" value="{{ f.minSize }}">
                </div>
                <div class="form-group">
                    <label for="maxSize"> To </label>
                    <input type="number" id="maxSize"  name="maxSize" value="{{ f.maxSize }}">
                </div>
            </div>
            <div class="form-group">
                <h5>Prices</h5>
                <div class="form-group">
                    <label for="minPrice"> From </label>
                    <input type="number" id="minPrice" name="minPrice" value="{{ f.minPrice }}">
                </div>
                <div class="form-group">
                    <label for="maxPrice"> To </label>
                    <input type="number" id="maxPrice" name="maxPrice" value="{{ f.maxPrice }}">
                </div>
            </div>
            <div class="form-group">
                <h5>Materials</h5>
                {% for material in materials %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="materials[{{ material }}]" > {{ material }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <h5>Colors</h5>
                {% for color in colors %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="colors[{{ color }}]"> {{ color }}
                        </label>
                    </div>
                {% endfor %}
            </div>

            {{ csrf() }}
            <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
        </form>
    </div>
</div>
