<div class="panel panel-default sidebar-menu">
    <div class="panel-heading">
        <h3 class="panel-title">Filters<a class="btn btn-xs btn-danger pull-right" href="{{ url }}"><i
                        class="fa fa-times-circle"></i> Clear</a></h3>
    </div>
    <div class="panel-body">
        <form method="post" action="gallery">
            <div class="form-group">
                <h5>Sizes</h5>
                <div class="form-group">
                    <label for="minSize"> From </label>
                    <input class="input-sm pull-right" type="number" id="minSize" name="minSize"
                           value="{{ f.minSize }}">
                </div>
                <div class="form-group">
                    <label for="maxSize"> To </label>
                    <input class="input-sm pull-right" type="number" id="maxSize" name="maxSize"
                           value="{{ f.maxSize }}">
                </div>
            </div>
            <div class="form-group">
                <h5>Prices</h5>
                <div class="form-group">
                    <label for="minPrice"> From </label>
                    <input class="input-sm pull-right" type="number" id="minPrice" name="minPrice"
                           value="{{ f.minPrice }}">
                </div>
                <div class="form-group">
                    <label for="maxPrice"> To </label>
                    <input class="input-sm pull-right" type="number" id="maxPrice" name="maxPrice"
                           value="{{ f.maxPrice }}">
                </div>
            </div>
            <div class="form-group">
                <h5>Materials</h5>
                {% for material in materials %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                    {% if material in f.materials %}
                                        checked
                                    {% endif %}
                                   name="materials[]" value="{{ material }}"> {{ material }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <h5>Colors</h5>
                {% for color in colors %}
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                    {% if color in f.colors %}
                                        checked
                                    {% endif %}
                                   name="colors[{{ color }}]" value="{{ color }}"> {{ color }}
                        </label>
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <h5>Other</h5>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                                {% if f.waterproof %}
                                    checked
                                {% endif %}
                               name="waterproof"> Only waterproof
                    </label>
                </div>
            </div>
            {{ csrf() }}
            <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
        </form>
    </div>
</div>
