{% for product in products %}
    <div class="col-md-4 col-sm-6">
        <div class="product">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <a href="#">
                            <img src="product2.jpg" alt="img" class="img-responsive">
                            {#<img src="{{ images.{{ product.id }} }}" alt="img" class="img-responsive">#}
                            {# <img src="{{ attribute(images,product.id).0}}" alt="img" class="img-responsive">#}
                        </a>
                    </div>
                    <div class="back">
                        <a href="detail.html">
                            <img src="" alt="img" class="img-responsive">
                        </a>
                    </div>
                </div>
            </div>
            <a href="detail.html" class="invisible">
                <img src="img/product2.jpg" alt="" class="img-responsive">
            </a>
            <div class="text">
                <h3><a href="detail.html">{{ product.title }}</a></h3>
                <p class="price">${{ product.price }} /day</p>
                <p class="buttons">
                    <a href="detail.html" class="btn btn-default">View detail</a>
                    {#<a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>#}
                </p>
            </div>
            <!-- /.text -->

            {# <div class="ribbon sale">
                 <div class="theribbon">SALE</div>
                 <div class="ribbon-background"></div>
             </div>
             <!-- /.ribbon -->

             <div class="ribbon new">
                 <div class="theribbon">NEW</div>
                 <div class="ribbon-background"></div>
             </div>
             <!-- /.ribbon -->

             <div class="ribbon gift">
                 <div class="theribbon">GIFT</div>
                 <div class="ribbon-background"></div>
             </div>
             <!-- /.ribbon -->#}
        </div>
        <!-- /.product -->
    </div>
{% endfor %}