{% for product in products %}
    <div class="col-md-4 col-sm-6">
        <div class="product">
                        <a href="#">
                            <img src="{{ asset(attribute(imgs,product.id).0 )}}" alt="img" class="img-responsive">
                        </a>
            <a href="detail.html" class="invisible">
                <img src="{{ asset(attribute(imgs,product.id).1 )}}" alt="" class="img-responsive">
            </a>
            <div class="text">
                <h3><a href="detail.html">{{ product.title }}</a></h3>
                <p class="price">${{ product.price }} /day</p>
                <p class="buttons">
                    <a href="{{ path_for( 'detail', {'id': product.id } )}}" class="btn btn-default">View detail</a>
                    {#<a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>#}
                </p>
            </div>
        </div>
        <!-- /.product -->
    </div>
{% endfor %}
<pre>{{ dump(auth) }}</pre>